<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
	<div class="sidenav">
		<div class="user-acc">
			<img src="sitelogo.png" alt="">
			<span id="text" href="#">Hello Anuj</span>
		</div>
		<div class="nav-options">
			<div class="nav-hov">
				<a href=""><img src="home.png" alt="">
					<span id="text" href="#">Home</span>
				</a>
			</div>
			<div class="nav-hov">
				<a href=""><img src="dashboard.png" alt="">
					<span id="text" href="#">Dashboard</span>
				</a>
				
			</div>
			<div class="nav-hov">
				<a href=""><img src="contact.png" alt="">
					<span id="text" href="#">Contact</span>
				</a>
				
			</div>
			<div class="nav-hov">
				<a href="">
					<img src="logout.png" alt="">
					<span id="text" href="#">Logout</span>
				</a>
				
			</div>
		</div>
		
	  </div>
	<div class="main">
		<section class="services">
			<!--heading---------------->
			<div class="s-heading">
			<h1>Ser<font color="rgba(189, 155, 195, 0.342)">vic</font>es</h1>
			</div>
			<!--services-box-container------------------->
			<div class="s-box-container">
			<!--service-box-1---------------->	
			<div class="s-box">
			<!--top-bar-------->
			<div class="bar"></div>
			<!--img---------->
			<img alt="1" src="electrician.png" />
			<!--servies-name---------->
			<h1>Electrician</h1>
			<!--details------>
				<p>Tap in to register electrical problems in your room</p>
			<!--btn---------->
			<a class="s-btn" onclick="openForm()" >Register</a>
			</div>
				<!--service-box-1---------------->	
			<div class="s-box">
			<!--top-bar-------->
			<div class="bar"></div>
			<!--img---------->
			<img alt="2" src="plumbing.png" />
			<!--servies-name---------->
			<h1>Plumbing</h1>
			<!--details------>
				<p>Any leakage,discontinuity in water supply.Dont worry!</p>
			<!--btn---------->
			<a class="s-btn" onclick="openForm()">Register</a>
			</div>
				<!--service-box-3---------------->	
			<div class="s-box">
			<!--top-bar-------->
			<div class="bar"></div>
			<!--img---------->
			<img alt="3" src="room cleaning.jpg" />
			<!--servies-name---------->
			<h1>Cleaning</h1>
			<!--details------>
				<p>Get your room super-cleaned with just one click</p>
			<!--btn---------->
			<a class="s-btn" onclick="openForm()">Register</a>
			</div>
			<div class="s-box">
				<!--top-bar-------->
				<div class="bar"></div>
				<!--img---------->
				<img alt="1" src="miscellaneous.png" />
				<!--servies-name---------->
				<h1>Miscellenous</h1>
				<!--details------>
					<p>Tap in to register any other miscellaneous problems!</p>
				<!--btn---------->
				<a class="s-btn" onclick="openForm()">Register</a>
				</div>
			</div>
			</section>



			<!-- for pop-form -->
			<div class="form-popup" id="myForm">
				<div class="brand-logo"></div>
				<div class="brand-title">COMPLAINT-FORM</div>
				<div class="inputs">
				  <input type="number" placeholder="Enter room-number" name="room-no" required>
				  <input type="text" placeholder="Enter Block(0 if no block)" name="block" required>
				  <input type="tel" placeholder="Enter mobile number" name="mno" required maxlength="10" minlength="10">
				  <select name="time" id="time">
					<option value="none" selected disabled hidden>Select time slot</option>
					<option value="10-12">10:00-12:00 AM</option>
					<option value="1-2">1:00-2:00 PM</option>
					<option value="2-4">2:00-4:00 PM</option>
					<option value="4-6">4:00-6:00 PM</option>
					<option value="6-8">6:00-8:00 PM</option>
				  </select>
				  <button type="submit">REGISTER COMPLAINT</button>
				  <button type="submit" onclick="closeForm()">CLOSE</button>
				</div>
			  </div>



			<section>
				<div class="progress">
					<div class="container">
						<div class="circular-progress cp1">
							<div class="value-container vc1"></div>
						</div>
						<div class="circular-progress cp2">
							<div class="value-container vc2"></div>
						</div>
					</div>
					
				</div>
			</section>
			
<section class="table-comp">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>C.No</th>
          <th>Complaint</th>
          <th>Date</th>
          <th>Slot Booked</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>1</td>
          <td>Cleaning</td>
          <td>25 Nov 2022</td>
          <td>5-6</td>
          <td>Pending</td>
        </tr>
        <tr>
			<td>2</td>
			<td>Plumbing</td>
			<td>27 Nov 2022</td>
			<td>1-2</td>
			<td>Done</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
		
</div>
<script src="js/dashboard.js"></script>
</body>
</html> 
